body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      monospace;
  }
  .App{
    margin-left: 2%;
  }
  

  .header-style{
    background-color: transparent;
    color: gray;
    height: 10%;
  }
  .bck {   
    background-color:white ;
    background-position: center;
    background-repeat: initial;
    background-size: cover;
  }
  
  .row{
    width: 95%;
    padding-left: 4%;
    align-items: center;
  }
  .modal-widget .row{
    padding: 1%;
  }

  .modal-title{
    font-size: 24px;
    padding-bottom: 5%;
    color: #00567a;
  }

  .customModalConfirmDelete.react-responsive-modal-modal {
    height: 150px;
    width: 400px;
  }

  .customModalWidget.react-responsive-modal-modal {
    min-height: 350px;
  }

  .customLogoutConfirm.react-responsive-modal-modal{
    height: 200px;
    width: 200px;
  }

  .delete-confirm{
    display: flex;
    flex-direction: column;
    padding: 2%;
  }

  .delete-confirm-action-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .c{
    border: 1px gray solid;
  }
  
  .navbar-nav-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.5%;
    margin-right: 21%;
  }

  .submit-btn-style{
    margin-top: 80px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue" !important;
  }

  .my-widget-header{
    font-size: 40px;
    font-weight: 600;
    color: #00567a;
    text-align: left;

  }

  .widget-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2%;
  }

  .card{
    width: 700px;
    margin: 2%;
    height: 263px !important;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
  }

  .card-header-date{
    padding-top: 1%;
  }
  
  .card-title{
    font-size: 20px;
    font-weight: 500;
    color: #00567a;
    padding-top: 1%;
  }
  .card-footer{
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .card-footer-buttons{
    display: flex;
    justify-content: flex-end;
  }

  .card-footer-link{
    padding-top: 4px;
  }
  .card-footer-link-anchor{
    color: #00567a;
  }
  
  input{
    padding: 5px;
  }
  .nav-link{
    cursor: pointer;
    text-decoration: underline !important;
    color: #00567a !important;
  }

  .text-show-more{
    text-decoration: underline;
    color: #00567a;
  }

  .card-header-left-section{
    display: flex;
  }
  .card-header-status-btn{
    cursor: auto !important;
    margin-right: 15px !important;
    margin-top: 5px !important;
    height: 30px;
    color: beige !important;
  }

  .search-section{
    margin: 30px 80px;
    width: 25%;
  }

  .reject-btn{
    background-color: darkred !important;
  }

  .approve-btn{
    background-color: darkgreen !important;
    margin-right: 10px !important;
  }
  .publish-btn{
    background-color: navy !important;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #383636; 
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  .wrapper-spinner{
    margin-left: 45%;
  }

  .search-filter-wrapper{
    display: flex;
    justify-content: space-between;
    margin-right: 450px;
    align-items: center;
  }

  .ilter-section{
    min-width: 240px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .login-submit{
    margin-top: 50px;
    margin-left: 240px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue" !important;
    background-color: #00567a;
    color: beige;
    border: none;
    border-radius: 5%;
    width: 100px;
    
  }

  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 10px;
    border: 1px solid black;
    height: 400px;
    width: 500px;
    margin-top: 200px;
    margin-left: 800px;
  }

  .error-msg{
    color: darkred;
    padding-left: 10px;
  }

  
